<% content_for :title, "登入成功" %>
<h1 class="section-title">7pm討論區</h1>


<div class="section-title-separator" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
<h1 class="section-title"><input><a class="ss-button small blue" href="javascript:void(0)" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="button-icon icon-star3" aria-hidden="true"></span>搜索</a>
  <a class="ss-button small red" href="javascript:void(0)" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="button-icon icon-star3" aria-hidden="true"></span>店主發怖</a></h1>

<h3 class="section-title" style="text-align: center">分類</h3>
<div class="section-title-separator"></div>
註冊成功，請登入確定
<!--<p>ontrary to popular belief,Lorem Ipsum is not simply andom text. It has roots men  book. It has survived not only  Pellentesque habitant morbi tristiqe sene ctus et netus et malesuada fames ac  </p>-->
<!--<div class="gap" style="height:20px;"></div>-->
