<div id="wrapper" class="wrapper">



  <div class="mobile-header ss-sticky-mobile-header">
    <a class="ss-mobile-menu-button" href="#menu"><span class="icon-menu6"></span></a>
    <a class="ss-mobile-menu sidebar-toggle-button ss-no-ajax" href="#"><span class="icon-menu"></span></a>
    <div class="logo">
      <a href="http://demo.spnoy.com/select/?theme=nikka_html" title="Nikka - Portfolio HTML Template">
        <img src="images/logo.svg" alt="nikka logo" />
      </a>
      <span class="logo-slogan">portfolio theme</span>
    </div>
  </div>

  <div id="main-container" class="main-container ss-ajaxable" data-animation-type="fade-from-bottom" data-animation-speed="0.4" data-animation-out-speed="0.6">

    <div class="inner-wrapper">
      <div class="page-container ss-typography">
        <section class="inner-section team-section ss-animatable ss-has-children">
          <h1 class="section-title">IG Shop 分類</h1>

          <p>ontrary to popular belief,Lorem Ipsum is not simply andom text. It has roots men  book. It has survived not only  Pellentesque habitant morbi tristiqe sene ctus et netus et malesuada fames ac  </p>
          <div class="gap" style="height:10px;"></div>
         <div class="section-title-separator" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"></div>
         <h1 class="section-title"><input><a class="ss-button small blue" href="javascript:void(0)" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="button-icon icon-star3" aria-hidden="true"></span>搜索</a>
           <a class="ss-button small red" href="javascript:void(0)" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="button-icon icon-star3" aria-hidden="true"></span>店主發怖</a></h1>
          <h3 class="section-title" style="text-align: center">最多點擊</h3>
         <div class="section-title-separator"></div>
         <!--<p>ontrary to popular belief,Lorem Ipsum is not simply andom text. It has roots men  book. It has survived not only  Pellentesque habitant morbi tristiqe sene ctus et netus et malesuada fames ac  </p>-->
          <!--<div class="gap" style="height:20px;"></div>-->

          <ul class="team-members">
            <li class="team-member-listitem">
              <div class="team-member">
                <div class="team-member-image-container">
                  <figure class="team-member-img">
                    <img src="images/about/team-1.jpg" alt="team member"/>
                  </figure>
                  <div class="team-member-hover">
                    <div class="team-member-hover-center">
                      <ul class="team-member-social">
                        <li><a href="#"><span class="icon-facebook" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-twitter" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-instagram" aria-hidden="true"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <a href="#"><h2 class="team-member-name">Jane Doe</h2></a>
                <div class="team-member-separator"></div>
                <p class="team-member-description">ontrary to popular belief,Lorem Ipsum is not simplyandom text. It has rootsmen book. It has survived</p>
              </div>
            </li>
            <li class="team-member-listitem">
              <div class="team-member">
                <div class="team-member-image-container">
                  <figure class="team-member-img">
                    <img src="images/about/team-2.jpg" alt="team member"/>
                  </figure>
                  <div class="team-member-hover">
                    <div class="team-member-hover-center">
                      <ul class="team-member-social">
                        <li><a href="#"><span class="icon-facebook" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-twitter" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-instagram" aria-hidden="true"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <a href="#"><h2 class="team-member-name">John Doe</h2></a>
                <div class="team-member-separator"></div>
                <p class="team-member-description">ontrary to popular belief,Lorem Ipsum is not simplyandom text. It has rootsmen book. It has survived</p>
              </div>
            </li>
            <li class="team-member-listitem">
              <div class="team-member">
                <div class="team-member-image-container">
                  <figure class="team-member-img">
                    <img src="images/about/team-3.jpg" alt="team member"/>
                  </figure>
                  <div class="team-member-hover">
                    <div class="team-member-hover-center">
                      <ul class="team-member-social">
                        <li><a href="#"><span class="icon-facebook" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-twitter" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="icon-instagram" aria-hidden="true"></span></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <a href="#"><h2 class="team-member-name">Sara Smith</h2></a>
                <div class="team-member-separator"></div>
                <p class="team-member-description">ontrary to popular belief,Lorem Ipsum is not simplyandom text. It has rootsmen book. It has survived</p>
              </div>
            </li>
          </ul>
        </section>
        <section class="inner-section team-section ss-animatable ss-has-children">
          <span style="">
          <a class="ss-button custom dJAX_internal" href="javascript:void(0)" data-button-color="#065498" data-button-hover-color="#4d4d4d" style="border-color: rgb(6, 84, 152); color: rgb(6, 84, 152); opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><span class="button-icon icon-star3" aria-hidden="true"></span>更多</a>
        </span>
        </section>
      </div>
    </div>
  </div>



</div>
