// Place all the styles related to the forum controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cmprofile{
     border-width: 1px;
  border-color: #333333;
  border-style: dashed;
}
.cmtop{
  border-width: 1px;
  border-color: #333333;
  border-style: solid;
}