// Place all the styles related to the oldbook controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.textbanner{
  border-width:2px;//边框的宽度值
  border-style:dashed;//边框的样式，“图片地址”处粘贴你自己的图片地址。
  padding: 20px;
  margin-bottom: 20px;
}